--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.135.2
uvicorn==0.42.0

qdrant-client==1.9.1
redis==5.0.8

sentence-transformers==3.1.1
torch==2.2.2+cpu
rank-bm25==0.2.2

PyMuPDF==1.24.10

duckduckgo-search==6.2.10
requests==2.32.3

python-dotenv==1.0.1
python-multipart==0.0.9

pydantic==2.12.5
langchain-text-splitters==0.2.2